body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profit{
  color: green;
}

.loss{
  color : red;
}

.hover-item:hover {
  background-color: rgb(246, 243, 243);
  cursor: pointer;
}

.action{
  height: 20px;
  width: 40px;
 margin: 2px;
 border-radius: 10%;
}
.buy{
background-color: green;
color: white;
}

.sell{
background-color: red;
color: white;
}

.graph{
  border: none;
color: rgb(45, 44, 44);
}

.more{
background-color: blue;
color: white;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 70px; /* navbar height */
    right : 0px;
    width: 100px;
    background: white;
    overflow-y: auto;
    z-index: 1050;
  }
}